.tech-slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.tech-slider-track {
  display: flex;
  animation: scroll 90s linear infinite;
  width: max-content;
}

.tech-slide {
  flex: 0 0 auto;
  width: 185px;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.tech-slide:hover {
  transform: translateY(-10px);
}

.tech-slide i,
.tech-slide iconify-icon {
  display: flex;
  justify-content: center;
  font-size: 55px !important;
  margin: 0 auto 15px;
}

.tech-slide h3 {
  font-size: 17px;
  margin: 0;
  color: var(--heading-color);
  font-weight: 600;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}