@import './variables.css';
@import './components/common.css';
@import './components/header.css';
@import './components/sobre-mim.css';
@import './components/portfolio.css';
@import './components/services.css';
@import './components/tech-stack.css';
@import './components/soft-skills.css';
@import './components/certificates.css';
@import './components/methodologies.css';
@import './components/contact-form.css';
@import './components/modals.css';
@import './components/footer.css';